.albums_card  {
  position: relative;
  background: red;
  text-align: center;
  background: url('https://images.unsplash.com/photo-1581171388860-c49b6cf74dd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1496&q=80') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 40vh;
  border-radius: 8px;
  color: white;
}


.albums_card__overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(20, 20, 20, 0.5);
  visibility: hidden;
  transition: color 0.5s ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.albums_card__overlay h3 {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 20px 0px;
  width: 100%;
}

.albums_card__title  {
  width: 90%;
}

.albums_card__overlay,
.albums_card__title {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
}

.albums_card:hover .albums_card__overlay  {
  visibility: visible;
  opacity: 1;
}

.albums_card:hover .albums_card__title  {
  visibility: hidden;
  opacity: 0;
}




@media (max-width: 1200px) {
  .albums_card {
    height: 290px;
  }
}
@media (max-width: 1000px) {
  .albums_card {
    height: 450px;
  }
}